<?xml version="1.0"?>
<!--
/**
* Webkul Software.
*
* @category Webkul
* @package Webkul_UvDeskConnector
* @author Webkul
* @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
* @license https://store.webkul.com/license.html
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
<!--                 <resource id="Webkul_SalesforceIq::salesforceConnector" title="SalesforceIQ Connector" sortOrder="50">
                    <resource id="Webkul_SalesforceIq::customers" title="Categories" sortOrder="60">
                        <resource id="Webkul_SalesforceIq::customers_delete" title="Customers Delete" sortOrder="70" />
                        <resource id="Webkul_SalesforceIq::customers_exportcustomer" title="Customers Export" sortOrder="80" />  
                        <resource id="Webkul_SalesforceIq::customers_index" title="Customers Grid" sortOrder="90" /> 
                    </resource>
                </resource>  -->   
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_UvDeskConnector::config" title="UVdesk" sortOrder="45" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>