/*.uvrow {
  margin-bottom: 20px;
}
.col-sm-6 .input-group-addon {
  border-radius: 20px 0  0 20px;
}
#uvsearch {
  border-radius: 0 20px 20px 0;
}
.uvhead {
  height: 55px;
}
.viewTicket {
  cursor: pointer;
}
.uvfocus {
  background-color: #bbb;
}
.uvsort {
  width: 100%;
}
.uvstatus {
  width: 100%;
}
.uvsort a {
  cursor: pointer;
}
.uvsort li {
  position: relative;
}
.uvstatus a {
  cursor: pointer;
}
.width-100 {
  width: 100%;
}
.sortChevron {
  position: absolute;
  right: 5px;
  top: 5px;
}
.dropdown .btn {
  height: 34px;
}*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    /*text-align: left;*/
    border-bottom: 1px solid #ddd;
}

td, th {
  /*text-align:center;*/
  vertical-align:middle;
}

tr:hover {
  background-color:#f5f5f5
}

#uvdeskconnector-frontend-form label {
  font-weight: 600;
  color: #676a6c;
  font-size: 15px;
}

#new-ticket-data {
  margin-top: 4%;
  background-color: #1f90bb;
  border: none;
  color: white;
  padding: 11px 08px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#uvdesk_create_ticket {
  margin-left:87%;margin-top:-68px;background-color: #1f90bb;
  border: none;
  color: white;
  padding: 11px 08px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.uvdesk-frontend-thread-view {
  /*margin-top: 4%;    */
  background-color: #1f90bb;
  border: none;
  color: white;
  /*padding: 11px 08px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
}

.panell{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-defaultt {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.uvhead {
    height: 55px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.pagination>li {
    display: inline;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.loading-old, .loading-mask {
    background: rgba(255,255,255,0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2003;
}
.popup-loading {
    /*background: rgba(255,255,255,0.8);*/
    border-color: #ef672f;
    color: #ef672f;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    margin-left: -100px;
    padding: 100px 0 10px;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 200px;
    z-index: 1003;
}
.loading-old, .loadingg-mask {
    background: rgba(255,255,255,0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2003;
}
.popupp-loading {
    /*background: rgba(255,255,255,0.8);*/
    border-color: #ef672f;
    color: #ef672f;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    margin-left: -100px;
    padding: 100px 0 10px;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 200px;
    z-index: 1003;
}